   * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: "Poppins", "Inter", sans-serif;
    }
    body{
        background-color: #0b0f2c;
    }

    .mybody {
      min-height: 100vh;
      background: linear-gradient(120deg, #0b0f2c 0%,
                     #111536 50%, #1b1b45 100%);
      color: #fff;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 60px 20px;

    }
    #title{
         display: flex;
        padding-top: 15px;
         margin-right: 200px;
         color: #fff;
         margin-left: 10px;
    }
    .active{
      background: linear-gradient(90deg, #a86cfe, #6c63ff);
      padding: 8px;
      border-top-right-radius: 8px;
      border-top-left-radius:8px;
    }
    .nav-item a {
  color: #fff;
  text-decoration: none;
  font-weight: 700;
  position: relative;
  padding-bottom: 5px;
  transition: color 0.3s ease;
   cursor: pointer;
}


    #mynav{
        background-color: #0b0f2c;
         height: 50px;
       width: 100%;
       margin: 10px auto;
       margin-top: 0%;
       display: flex;
       box-shadow: 0 0 10px rgba(228, 227, 252, 0.3);
       border-bottom-left-radius: 10px;
       border-bottom-right-radius: 10px;
      position: fixed;
    }
    #mynav:hover {
      box-shadow: 0 0 15px rgba(246, 245, 247, 0.4);
     
   }

    .nav-items{
  list-style-type: none;
    display: flex;
    gap: 25px;
    padding-top: 15px;
    }
    .nav-item{
        font-weight: 700;
        color: #fff;
    }
    .about-container {
      background: rgba(255, 255, 255, 0.05);
      border: 1px solid rgba(255, 255, 255, 0.1);
      border-radius: 20px;
      padding: 40px;
      max-width: 800px;
      width: 100%;
      box-shadow: 0 0 40px rgba(108, 99, 255, 0.3);
    }

    .about-container:hover {
      box-shadow: 0 0 60px rgba(168, 108, 254, 0.4);
    }
    .heading {
      display: inline-block;
      background: linear-gradient(90deg, #a86cfe, #6c63ff);
      padding: 10px 24px;
      border-radius: 12px;
      font-weight: 600;
      font-size: 22px;
      margin-bottom: 24px;
      box-shadow: 0 4px 10px rgba(108, 99, 255, 0.4);

    }
    .about-content {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      gap: 30px;

    }

    .about-text {
      flex: 1;

      min-width: 260px;

    }

    .about-text h2 {
      font-size: 28px;
      margin-bottom: 10px;
      color: #c9c9ff;
    }
    .about-text p {
      font-size: 16px;
      line-height: 1.7;
      color: #d9d9f9;

    }
 .myname{
      font-weight: 600;
      font-size: larger;
      text-decoration: underline rgb(246, 244, 246);
 }
.mytable{
border-collapse: separate;
border-spacing: 25px 8px;
word-spacing: 6px; 
}
.mytable td{
    word-spacing: 6px;
    padding: 10px;
}
.mytable tr td a{
  color: whitesmoke;
  font-size: large;
}