@import url("style.css");

.about-container {
    max-width: 900px;
}

.about-text h3 {
    margin-top: 30px;
    margin-bottom: 10px;

    font-size: 20px;

    color: #c4b5fd;
}

.resume-list {
    margin-top: 15px;

    padding-left: 25px;
}

.resume-list li {
    margin: 10px 0;

    color: #dbeafe;

    transition: 0.3s;
}

.resume-list li:hover {
    color: #c084fc;

    transform: translateX(5px);
}
